body{
	margin: 0;
	padding: 0;
	color: black;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
section{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
.container{
	max-width: 1200px;
	padding: 0;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}
.row{
	 
}

section.head{
	background-color: #eee;
	font-size: 16px;
	overflow: auto;
}
header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 40px;
	line-height: 30px;
	text-transform: uppercase;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	clear: both;
}
header .logo{
	width: 160px;
	height: 65px;
	padding: 0;
}
header .logo img:hover{
	opacity: 0.6;
	cursor: pointer;
}
header .logo img:active{
	opacity: 0.3;
	cursor: pointer;
}
.menu ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	list-style: none;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.menu li{
	padding: 30px;
}
.basket span{
	position: relative;
}
.basket a{
	padding-left: 40px;
}
.basket a::before{
	content: '';
	background-image: url(../image/cart-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 0;
}
header a:hover,
header a:focus{
	color:#fb565a;
	border:none;
	outline: none;
}
header a:active{
	color:#bdbdbd;
}

.slider{
	clear: both;
	padding-bottom: 40px;
}
.slider::after{
	content: '';
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}
.slid-more{
	max-width: 360px;
	float: left;
	margin-top: 60px;
	margin-bottom: 60px;
}
.slid-more h2{
	font-size: 52px;
	line-height: 55px;
	font-weight: normal;
}
.slid-more p{
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 45px;
}

button{
	padding: 20px 60px 18px;
	text-transform: uppercase;
	background-color: #fb565a;
	color: white;
	outline: none;
	border: none;
}
button:hover{
	background-color: #e74246;
	outline: none;
	border: none;
	cursor: pointer;
}
button:focus{
	outline: 2px red solid;
	background-color: transparent;
	color: red;
}
button:active{
	background-color: #d7373b;
	color: #e27e80;
	outline: none;
	border: none;
	cursor: pointer;
}

.slide-img{
	max-width: 760px;
	max-height: 413px;
   display: inline;
}
#block-for-slider{
	float: right;
}
#viewport{
   position: relative;
   overflow: hidden;
	max-width: 760px;
	max-height: 413px;
	padding: 0;
	margin: 0;
}
#slidewrapper{
	width: calc(100% * 3.1);
	list-style: none;
	position: relative;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	margin: 0;
	padding: 0;
}
#slidewrapper ul, #slidewrapper li{
	padding: 0;
	margin: 0;
}
#slidewrapper li{
	display: inline-block;
}

#prev-btn, #next-btn {
   position: absolute;
   width: 40px;
   height: 40px;
   background-color: #fff;
   border-radius: 50%;
   top: calc(50% - 25px);
}
#prev-btn:hover, #next-btn:hover {
   cursor: pointer;
}
#prev-btn {
   left: 20px;
   text-align: center;
   color: #d7373b;
   font-size: 35px;
}
#next-btn {
   right: 20px;
   text-align: center;
   color: #d7373b;
   font-size: 35px;
}

.slide-nav-btn {
   position: relative;
   display: inline-block;
   list-style: none;
   width: 15px;
   height: 15px;
   background-color: #fff;
   border-radius: 50%;
   margin: 3px;
}

.slide-nav-btn:hover {
   cursor: pointer;
}
@media screen and (max-width: 1176px){
	.slider{
		text-align: center;
	}
}


.hidden{
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	visibility: hidden;
}

h3{
	font-size: 24px;
	line-height: 30px;
}

main .row{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
	padding-top: 80px;
}
@media (min-width: 768px) and (max-width: 991px){
	main .row{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (min-width: 992px) and (max-width: 1220px){
	main .row{
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
}
.features{
	margin-bottom: 80px;
	padding: 0;
	-ms-flex-preferred-size: 300px;
	    flex-basis: 300px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
@media screen and (max-width: 767px){
	.features{
		text-align: center;
	}
}
.features p{
	margin-bottom: 40px;
}
hr{
	width: 100%;
}
.btn-green{
	background-color: #00ca74;
}
.btn-green:hover{
	background-color: #00bc6c;
}
.btn-green:focus{
	outline: 2px #00ca74 solid;
	background-color: transparent;
	color: #00ca74;
}
.btn-green:active{
	background-color: #00aa62;
	color: #74c69c;
}	
.btn-yellow{
	background-color: #efc84a;
}
.btn-yellow:hover{
	background-color: #eab534;
}
.btn-yellow:focus{
	outline: 2px #efc84a solid;
	background-color: transparent;
	color: #efc84a;
}
.btn-yellow:active{
	background-color: #e5a722;
	color: #edc47f;
}
.company{
	padding-top: 40px;
	padding-bottom: 80px;
	overflow: auto;
}
.descr ul,
.stats ul{
	list-style: none;
}
.descr{
	max-width: 600px;
	float: left;
	padding: 0;
}
.stats{
	max-width: 360px;
	float: right;
}
.descr h2{
	font-size: 40px;
	line-height: 42px;
	font-weight: normal;
}
.descr p{
	margin-bottom: 50px;
}
main span{
	display: inline-block;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.descr li{
	margin-bottom: 30px;
	padding-left: 36px;
	position: relative;
}
.descr li::before{
	content: '';
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 46%;
}
.stats img{
	margin-bottom: 30px;
}
.stats span{
	margin-bottom: 50px;
}
.stats ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: left;
}
.stats li{
	width: 108px;
}
.stats b{
	font-size: 40px;
	font-weight: normal;
}
.friends{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 46px;
	padding-bottom: 51px;
	padding-right: 30px;
	padding-left: 30px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 82px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.friends img{
	opacity: 0.6;
}
.friends img:hover{
	opacity: 1;
}
.friends img:active{
	opacity: 0.3;
}
.map{
	overflow-x: hidden;
	text-align: center;
	position: relative;
	width: 100%
}
iframe{
	width: 100%;
}
.adress{
	position: absolute;
	left: 15%;
	top: 20%;
	width: 319px;
	height: 308px;
	background-color: white;
	padding-top: 37px;
	padding-bottom: 40px;
}
.adress button{
	margin-top: 37px;
}
.adress h3{
	font-size: 18px;
	line-height: 30px;
}
.adress p,
.adress span{
	font-size: 16px;
	line-height: 18px;
	margin-top: 0; 
}
.contacts{
	padding: 70px 20px;
}
.media{
	display: inline-block;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-color: #e1e1e1;
	background-repeat: no-repeat;
	background-position: center;
}
.social a{
	display: inline-block;
	margin: 0 5px;
}
.social a:hover span,
.social a:focus span{
	background-color: #e74246;
}
.social a:active span{
	background-color: #d0373b;
}
.vk{
	background-image: url(../image/vk-icon.png);
}
.fb{
	background-image: url(../image/fb-icon.png);
}
.insta{
	background-image: url(../image/insta-icon.png);
}
.contacts{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
}
.friendship{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding-left: 140px;
}
.friendship b{
	font-size: 36px;
	line-height: 37px;
	text-decoration: underline;
}
.social{
	margin: 0 auto;
}
.dark-popup{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	top: 0;
	left: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	cursor: pointer;
	display: none;
}
.popup{
	width: 67%;
	max-width: 960px;
	position: fixed;
	background-color: white;
	z-index: 1;
	padding: 72px 100px 85px;
	top: 15vh;
	left: 16.5%;
	display: none;
}
.popup input{
	width: 100%;
}
.popup .form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-line-pack: distribute;
	    align-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.popup .wrap{
	width: 45%;
	display: inline-block;
	margin-bottom: 35px;
}
@media (max-width: 776px){
	.popup .wrap{
		width: 100%;
	}
}
.popup b{
	display: block;
	margin-bottom: 10px;
}
.popup .wrap-area{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	min-width: 100px;
}
textarea{
	width: 100%;
}
.popup .button{
	padding: 20px 60px 18px;
	text-transform: uppercase;
	background-color: #fb565a;
	color: white;
	outline: none;
	border: none;
	max-width: 260px;
	margin-top: 46px;
}
.popup .button:hover{
	background-color: #e74246;
	outline: none;
	border: none;
	cursor: pointer;
}
.popup .button:focus{
	outline: 2px red solid;
	background-color: transparent;
	color: red;
}
.popup .button:active{
	background-color: #d7373b;
	color: #e27e80;
	outline: none;
	border: none;
	cursor: pointer;
}
.popup-x{
	position: absolute;
	top: 4%;
	right: 3%;
	z-index: 1;
	width: 25px;
	height: 25px; 
	cursor: pointer;
	font-size: 0;
	text-align: start;
}
.popup-x::before,
.popup-x::after{
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: red;
	color: red;
	top: 13px;
}
.popup-x::before{
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.popup-x::after{
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.user-none{
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}


.modal-show{
	display: block;
}