.features {
	background-color: #fff;
	background: url(../images/feature.png) no-repeat center;
	background-size: cover;
	&_list {
		display: flex;
		justify-content: space-between;
		padding-left: 0;
		list-style: none;
		margin: 0; 
		&_items {
			flex-basis: 33.3%;
			padding-top: 145px;
			padding-bottom: 35px;
			text-align: center;
			&:first-child {
				border-right: 1px solid #f1f1f1;
				border-left: 1px solid #f1f1f1;
			}
			&:last-child {
				border-right: 1px solid #f1f1f1;
				border-left: 1px solid #f1f1f1;
			}
			&_title {
				margin-top: 0;
				font-size: 27px;
				font-weight: normal;
				text-transform: uppercase;
			}
		}
	}
}
.cloud {
	background: url(../images/cloud.png) no-repeat center 62px;
	background-size: auto;
}
.sheep {
	background: url(../images/Sheep.png) no-repeat center 45px;
	background-size: auto;
}
.plane {
	background: url(../images/plane.png) no-repeat center 54px;
	background-size: auto;
}
@media (max-width: 800px) {
	.features_list_items_title {
		font-size: 23px;
	}
}
@media (max-width: 576px) {
	.features_list_items_title {
		font-size: 20px;
	}
}
@media (max-width: 480px) {
	.features_list_items_title {
		font-size: 27px;
	}
	.features_list {
		flex-wrap: wrap;
		&_items {
		flex: 0 0 95%;
		padding-top: 100px;
		padding-bottom: 15px;
		}
	}
	.cloud {
		background: url(../images/cloud.png) no-repeat center 20px;
		background-size: auto;
	}
	.sheep {
		background: url(../images/Sheep.png) no-repeat center 0px;
		background-size: auto;
	}
	.plane {
		background: url(../images/plane.png) no-repeat center 10px;
		background-size: auto;
	}
}